<%= simple_form_for(@application) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :job_id %>
    <%= f.input :integer %>
    <%= f.input :first %>
    <%= f.input :name %>
    <%= f.input :string %>
    <%= f.input :Last %>
    <%= f.input :name %>
    <%= f.input :string %>
    <%= f.input :email_address %>
    <%= f.input :string %>
    <%= f.input :resume %>
    <%= f.input :text %>
    <%= f.input :days_available %>
    <%= f.input :string %>
    <%= f.input :times_available %>
    <%= f.input :string %>
    <%= f.input :pay_requested %>
    <%= f.input :float, %>
    <%= f.input :CPR_certified %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
