<%= simple_form_for(@application) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
 
    <%= f.association :job  %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email_address %>
    <%= f.input :resume %>
    <%= f.input :days_available %>
    <%= f.input :times_available %>
    <%= f.input :pay_requested %>
    <%= f.input :cpr_certified %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
