<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Job</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Resume</th>
      <th>Days Available</th>
      <th>Times Available</th>
      <th>Pay Requested</th>
      <th>CPR Certified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.user_id %></td>
        <td><%= application.job_id %></td>
        <td><%= application.first_name %></td>
        <td><%= application.last_name %></td>
        <td><%= application.email_address %></td>
        <td><%= application.resume %></td>
        <td><%= application.days_available %></td>
        <td><%= application.times_available %></td>
        <td><%= number_to_currency(application.pay_requested) %></td>
        <td><%= application.cpr_certified %></td>
                <td><%= link_to 'Show', application, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_application_path(application), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
