<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @application.user_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @application.job_id %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @application.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @application.last_name %>
</p>
<p>
  <strong>Email address:</strong>
  <%= @application.email_address %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @application.resume %>
</p>

<p>
  <strong>Days Available:</strong>
  <%= @application.days_available %>
</p>

<p>
  <strong>Times Available:</strong>
  <%= @application.times_available %>
</p>

<p>
  <strong>Pay requested:</strong>
  <%= number_to_currency(@application.pay_requested) %>
</p>

<p>
  <strong>Cpr certified:</strong>
  <%= @application.cpr_certified %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
